<article>
    <h1>Participation</h1>
    <ol>
        <li>
            In order to participate, you will need to create a Fifth Aeon
            account and create or join a team.
        </li>
        <li>A team may have between 1 and 4 individuls.</li>
        <li>
            You may not participate in more than one team or use more than one
            account in a single tournament.
        </li>
        <li>
            In order to participate you will need to fill out a reaserch survey
            before and after the tournament.
        </li>
        <li>
            If you win a prize you will be required to write a 2 page
            description of your bot.
        </li>
    </ol>

    <h1>Game Mechanics</h1>
    <ol>
        <li>
            An A.I will be given a single process on the competition server to
            run on
        </li>
        <li>
            Each time an A.I gains priority it will have 5 seconds to make
            computations and send actions. If it fails to pass priority in that
            time, it will lose the game
        </li>
        <li>
            If an A.I sends an illegal action to the server, or an action which
            causes the game process to throw an exception it will lose the game
        </li>
    </ol>

    <h1>
        Banned Behaviors
    </h1>
    <ol>
        <li>Bots may no deliberately lose games.</li>
        <li>
            Bots are not allowed to access external resources such as remote
            servers or create additional processes.
        </li>
        <li>
            Bots may not access any information that would not be available to a
            human player of the game. However, they may remember previously seen
            information or make inferences.
        </li>
        <li>
            Any bugs in the game’s code must be reported to the tournament
            organisers and may not be used to give your bot an advantage.
        </li>
    </ol>
    <h1>
        Tournament Formats
    </h1>
    <p>
        Games will be run over these three formats with bots gaining a score in
        all three. The overall winner will depend on a combination of the three
        scores.
    </p>
    <h2>Preconstructed Format</h2>
    <p>
        In this format bots will compete against each other using a set of 10
        decks provided by the tournament organizers. Bots will play against each
        other using all combinations of these decks.
    </p>
    <h2>Constructed Format</h2>
    <p>
        In this format bots will compete against each other using two decks
        provided by their author. Bots will play with both their own decks and
        their opponents’ decks.
    </p>
    <h2>Limited Format</h2>
    <p>
        In this format bots will be provided a pool of 100 random cards with
        which to create a new deck. Their opponents will get the same pool.
    </p>

    <h1>Key Dates</h1>
    <p>(These are still subject to change)</p>
    <p>May 10th: Practice Tournament</p>
    <p>May 24th: Final Tournament</p>
</article>
