<article>
    <h1>Participation</h1>
    <ol>
        <li>
            In order to participate, you will need to create a Fifth Aeon
            account and create or join a team.
        </li>
        <li>A team may have between 1 and 4 individuls.</li>
        <li>
            You may not participate in more than one team or use more than one
            account in a single tournament.
        </li>
        <li>
            In order to participate you will need to fill out a reaserch survey
            before and after the tournament.
        </li>
        <li>
            If you win a prize you will be required to write a 2 page
            description of your bot.
        </li>
    </ol>

    <h1>Game Mechanics</h1>
    <ol>
        <li>
            An A.I will be given a single process on the competition server to
            run on
        </li>
        <li>
            Each time an A.I gains priority it will have 5 seconds to make
            computations and send actions. If it fails to pass priority in that
            time, it will lose the game
        </li>
        <li>
            If an A.I sends an illegal action to the server, or an action which
            causes the game process to throw an exception it will lose the game
        </li>
    </ol>

    <h1>
        Banned Behaviors
    </h1>
    <ol>
        <li>Bots may no deliberately lose games.</li>
        <li>
            Bots are not allowed to access external resources such as remote
            servers or create additional processes.
        </li>
        <li>
            Bots may not access any information that would not be available to a
            human player of the game. However, they may remember previously seen
            information or make inferences.
        </li>
        <li>
            Any bugs in the game’s code must be reported to the tournament
            organisers and may not be used to give your bot an advantage.
        </li>
    </ol>
</article>
