<div class="private-lobby">
  <p class="instructions">{{client.getInstruction()}}</p>

  <mat-progress-spinner *ngIf="client.getState() === state.UnAuth" attr.color="primary" mode="indeterminate"></mat-progress-spinner>

  <div *ngIf="client.getState() === state.PrivateLobby">
    <p>You can share via link, email or sms.</p>
    <button mat-fab matTooltip="Copy link to clipboard" color="primary" (click)="getLink()" ngxClipboard [cbContent]="client.getPrivateGameUrl()"><mat-icon>link</mat-icon></button>
    <a [href]="client.getPrivateGameEmailUrl()" target="_blank">
      <button mat-fab matTooltip="Invite via Email" color="primary"><mat-icon>email</mat-icon></button></a>
    <a [href]="client.getPrivateGameSMSUrl()">
      <button mat-fab matTooltip="Invite via SMS" color="primary" style="margin: 20px;"><mat-icon>sms</mat-icon></button></a>
  </div>

  <div *ngIf="client.getState() === state.PrivateLobbyFail">
    <button mat-raised-button  (click)="client.returnToLobby()" color="primary" style="margin: 20px;">Return To Lobby</button>
  </div>

</div>
