.resource-display {
    position: absolute;
    right: 15%;
    width: 240px;
    height: 50px;
    float: right;
}

.resource-text {
    font-family: "Impact", monospace;
    fill: white;
    stroke: black;
    stroke-width: 0.75;
    font-size: 25px;
  }