.deck-card {
  img {
    width: 300px;
    height: 150px;
  }
  button {
      margin-right: 10px;
      margin-left: 10px;
  }
  display: inline-block;
  width: 230px;
  height: 250px;
  margin: 20px;
  overflow: hidden;
}

.deck-zone {
  text-align: center;
}

.new-button {
  position: fixed;
  bottom:40px;
  right: 110px;
}
.back-button {
  position: fixed;
  bottom: 40px;
  right: 30px;
}

