$card-width: 260px;
$card-height: 340px;
.card {
  margin: 10px;
  width: $card-width;
  height: $card-height;
  border: 1px solid black;
  float: left;
}

.image-border {
  stroke: black;
  stroke-width: 1;
  stroke-opacity: 1;
  fill: white;
}
