.card {
  margin-left: -9px;
  margin-right: -9px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  vertical-align: top;
}

.image-border {
  stroke: black;
  stroke-width: 1;
  stroke-opacity: 1;
  fill: white;
}

.buble-text {
  font-family: "Impact";
  fill: white;
  stroke: black;
  stroke-width: 0.75;
  font-size: 25px;
}


.darkened {
  filter: brightness(0.8);
}

.card-text {
  text-align: center;
  padding-left: 1px;
  padding-right: 1px;
  margin-top: 10px;
  b {
    margin: 0px;
  }
  span {
    margin: 0px;
  }
}

.life {}

.mana {}

.damage {}
