<h1>Fifth Aeon</h1>
<h2>A Collectable Card Game</h2>

<ng-template [ngIf]="state === states.WaitingForAction">
    <button mat-raised-button color="primary" (click)="newPlayer()">
        New Player
    </button>
    <button mat-raised-button color="primary" routerLink="/login">
        Returning Player
    </button>
    <br>
    <button mat-raised-button class="offline-button" (click)="enterOfflineMode()">
        Play Offline
    </button>
</ng-template>

<ng-template [ngIf]="state === states.NewPlayer">
    <button mat-raised-button color="primary" (click)="createGuestAccount()">
        Play as Guest
    </button>
    <button mat-raised-button color="primary" routerLink="/register">
        Create Account
    </button>
</ng-template>

<ng-template [ngIf]="state === states.Working">
    <mat-progress-spinner class="mp-bar" color="primary" mode="indeterminate"></mat-progress-spinner>
</ng-template>

<ng-template [ngIf]="state === states.OfflineOnly">
    <p>Server Unavailable</p>
    <button mat-raised-button class="offline-button" (click)="enterOfflineMode()">
        Play Offline
    </button>
</ng-template>