h1 {
  text-align: center;
  color: rgb(39, 39, 39);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 6em;
  margin-top: 15vh;
  margin-bottom: 0px;
}

h2 {
  text-align: center;
  color: rgb(134, 134, 134);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 2em;
  margin-top: 1vh;
}

button {
  padding: 2vh;
  margin: 8vmin;
  width: 20vw;
  min-width: 250px;
  font-size: 1.75em;
}
