.instructions {
  font-size: 2em;
}

button {
  margin: 20px;
}

.url {
  color:#07C;
  text-decoration: underline;
}

md-radio-button {
  margin:5px;
}
md-progress-spinner {
  margin: 0 auto;
}
.lobby {
    width: 100%;
    text-align: center;
}