.instructions {
  font-size: 2em;
}

h2 {
  display: inline;
}

button {
  margin: 20px;
}

md-progress-spinner {
  margin: 0 auto;
}

.lobby {
    width: 100%;
    text-align: center;
}

md-radio-button {
  margin:5px;
}

.toolbar-icon {
  padding: 0 14px;
}

.toolbar-spacer {
  flex: 1 1 auto;
}