.instructions {
  font-size: 2em;
}

.mp-bar {
  width: 40%;
  margin: 0 auto;
}

h2 {
  display: inline;
}

.lobby-card {
  margin: 0 auto;
  margin: 2vh;
}

button {
  margin: 20px;
}

mat-progress-spinner {
  margin: 0 auto;
}

.lobby {
  width: 100%;
  text-align: center;
}

mat-radio-button {
  margin: 5px;
}

.toolbar-icon {
  padding: 0 14px;
}

.toolbar-spacer {
  flex: 1 1 auto;
}
