<div class="left">
  <mat-card id="card-selection">
    <mat-card-content id="editor-cards">
      <ccg-card scale="1.75" *ngFor="let card of cards" [card]="card"></ccg-card>
    </mat-card-content>
  </mat-card>

  <mat-card id="card-selection-controls">
    <mat-card-content>
      <!--
        <button mat-mini-fab matTooltipPosition="above" matTooltip="Previous Page." (click)="prev()" [disabled]="!canPrev()"><mat-icon>arrow_back</mat-icon></button>
        <button mat-mini-fab matTooltipPosition="above" matTooltip="Next Page." (click)="next()" [disabled]="!canNext()"><mat-icon>arrow_forward</mat-icon></button>
        -->
        <span>You have {{collection.getPackCount()}} pack(s).</span>
      <button mat-fab matTooltipPosition="above" matTooltip="Open a pack." color="primary" (click)="open()" [disabled]="!collection.canOpenBooster()">
        <mat-icon>grade</mat-icon>
      </button>
      <a routerLink="/lobby">
        <button mat-fab matTooltipPosition="above" matTooltip="Return to lobby" color="accent" (click)="done()">
          <mat-icon>check</mat-icon>
        </button>
      </a>
    </mat-card-content>
  </mat-card>
</div>
