<mat-card class="create-form">
  <mat-card-header>
      <mat-card-title>Password Reset</mat-card-title>
  </mat-card-header>

  <mat-card-content>
      <form  class="form-container">
          <mat-form-field>
              <input matInput #passIn placeholder="New Password" name="password" [(ngModel)]="password" [formControl]="passwordControl"
              [type]="hide ? 'password' : 'text'" maxlength="256" minlength="8" required>
                  <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>

              <mat-error *ngIf="passwordControl.invalid">{{passwordError()}}</mat-error>
          </mat-form-field>
      </form>
      <p>{{message}}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" [disabled]="!ok()" (click)="submit()">Reset Password</button>
  </mat-card-actions>

</mat-card>


