.create-form {
    width: 70%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
  }
  
  .form-container>* {
    width: 100%;
  }
  
  .submit-button {
    flex-grow: 1;
  }
  
  .page-card {
    width: 70%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  