<h1 mat-dialog-title>{{ getMessage() }}</h1>

<div mat-dialog-content>
    <ccg-card
        scale="1.45"
        *ngFor="let card of pageCards"
        noTranslate="true"
        [card]="card"
        [selected]="selected.has(card)"
        (click)="select(card)"
    ></ccg-card>
</div>

<div mat-dialog-actions>
    <button mat-raised-button (click)="finish()" [disabled]="!canFinish()">
        Done
    </button>
    <button
        mat-icon-button
        (click)="prev()"
        matTooltip="Previous page"
        [disabled]="!canPrev()"
    >
        <mat-icon>arrow_back</mat-icon>
    </button>
    <button
        mat-icon-button
        (click)="next()"
        matTooltip="Next page"
        [disabled]="!canNext()"
    >
        <mat-icon>arrow_forward</mat-icon>
    </button>
    <button mat-raised-button (click)="skip()" *ngIf="skippable">Skip</button>
</div>
