<div style="float:left; height:100%">
  <svg style="height:100%">
      <image (click)="playResource('Growth')"    xlink:href="assets/growth.png"    height="100" width="100" x="0" y="0"/>
      <image (click)="playResource('Synthesis')" xlink:href="assets/synthesis.png" height="100" width="100" x="110" y="0"/>
      <image (click)="playResource('Necrosis')"  xlink:href="assets/necrosis.png"  height="100" width="100" x="0" y="110"/>
      <image (click)="playResource('Renewal')"  xlink:href="assets/renewal.png"    height="100" width="100" x=110 y="110"/>
      
  </svg>

</div>