<svg class="resource-selector" [class.darkened]="!canPlayResource">
  <image (click)="playResource('Growth')" xlink:href="assets/png/growth.png" height="50" width="50" x="0" y="0" />
  <image (click)="playResource('Synthesis')" xlink:href="assets/png/synthesis.png" height="50" width="50" x="60" y="0" />
  <image (click)="playResource('Necrosis')" xlink:href="assets/png/necrosis.png" height="50" width="50" x="120" y="0" />
  <image (click)="playResource('Renewal')" xlink:href="assets/png/renewal.png" height="50" width="50" x="180" y="0" />

</svg>
