<svg class="resource-selector" mdTooltipPosition="above" [mdTooltip]="disableTip()" [class.darkened]="!canPlayResource">
  <image mdTooltipPosition="above" [mdTooltip]="tip('Play Growth.')" (click)="playResource('Growth')" xlink:href="assets/png/growth.png" height="50" width="50" x="0" y="0" />
  <image mdTooltipPosition="above" [mdTooltip]="tip('Play Synthesis.')" (click)="playResource('Synthesis')" xlink:href="assets/png/synthesis.png" height="50" width="50" x="60" y="0" />
  <image mdTooltipPosition="above" [mdTooltip]="tip('Play Decay.')" (click)="playResource('Decay')" xlink:href="assets/png/decay-icon.png" height="50" width="50" x="120" y="0" />
  <image mdTooltipPosition="above" [mdTooltip]="tip('Play Renewal.')" (click)="playResource('Renewal')" xlink:href="assets/png/renewal.png" height="50" width="50" x="180" y="0" />
</svg>
