<ccg-record-bar [log]="game.getLog()"></ccg-record-bar>
<div class="game-area">
  <div class="info-bar">
    <p class="info-text">{{client.getOpponentUsername()}}</p>
    <button mdTooltipPosition="below" mdTooltip="View enemy crypt." color="primary" class="crypt-button" (click)="viewCrypt(enemyNo)"
      md-mini-fab><md-icon svgIcon="ccg:tombstone"></md-icon></button>

    <svg class="card-display" mdTooltip="Your opponent has {{enemy.getHand().length}} cards in hand.">
      <image width="50" height="50" xlink:href="assets/png/card.png" />
      <text x="25" y="35" text-anchor="middle" class="number-text">{{enemy.getHand().length}}</text>
    </svg>

    <svg class="life-display" mdTooltip="Your opponent has {{enemy.getLife()}} life.">
      <image width="50" height="50" xlink:href="assets/png/hearts.png" />
      <text x="25" y="35" text-anchor="middle" class="number-text">{{enemy.getLife()}}</text>
    </svg>

    <ccg-resource-display [resource]="enemy.getPool()"></ccg-resource-display>

  </div>

  <svg class="overlay">
    <defs>
      <marker id="arrow" markerWidth="10" markerHeight="10" refX="5" refY="3" orient="auto" markerUnits="strokeWidth">
        <path d="M0,0 L0,6 L9,3 z" fill="royalblue" />
      </marker>
    </defs>

    <line *ngFor="let arrow of overlay.getBlockArrows()" [attr.x1]="arrow.x1" [attr.y1]="arrow.y1" [attr.x2]="arrow.x2" [attr.y2]="arrow.y2"
      marker-end="url(#arrow)" stroke="royalblue" stroke-width="5" />

    <line *ngFor="let arrow of overlay.targets" [attr.x1]="arrow.x1" [attr.y1]="arrow.y1" [attr.x2]="arrow.x2" [attr.y2]="arrow.y2"
      marker-end="url(#arrow)" stroke="royalblue" stroke-width="5" />
  </svg>

  <ccg-card *ngIf="overlay.card" [@inHand]="isInHand(overlay.card)" class="overlayed-card" scale="1.6" [card]="overlay.card" [game]="game"></ccg-card>


  <!-- Enemy Board -->
  <div class="area">
    <ccg-card scale="1.40" *ngFor="let card of game.getBoard().getPlayerUnits(enemyNo)" [darkened]="card.isExausted()" [card]="card" [game]="game"
      [@location]="locationState(card)" [target]="validTargets.has(card)" (click)="target(card)"></ccg-card>
  </div>

  <!-- Player Board -->
  <div class="area">
    <ccg-card scale="1.40" *ngFor="let card of game.getBoard().getPlayerUnits(playerNo)" [darkened]="card.isExausted()" [card]="card" [game]="game"
      [@location]="locationState(card)" [target]="validTargets.has(card)" [selected]="card == blocker" (click)="activate(card)">
    </ccg-card>
  </div>

  <div class="info-bar">
    <ccg-resource-selector [canPlayResource]="canPlayResource()"></ccg-resource-selector>
    <p class="info-text">{{client.getUsername()}} </p>

    <button color="primary" mdTooltipPosition="above" mdTooltip="View your crypt." class="crypt-button" (click)="viewCrypt(playerNo)"
      md-mini-fab><md-icon svgIcon="ccg:tombstone"></md-icon></button>

    <svg class="card-display" mdTooltipPosition="above" mdTooltip="You have {{player.getHand().length}} cards in your hand.">
      <image width="50" height="50" xlink:href="assets/png/card.png" />
      <text x="25" y="35" text-anchor="middle" class="number-text">{{player.getHand().length}}</text>
    </svg>

    <svg class="life-display" mdTooltipPosition="above" mdTooltip="You have {{player.getLife()}} life.">
      <image width="50" height="50" xlink:href="assets/png/hearts.png" />
      <text x="25" y="35" text-anchor="middle" class="number-text">{{player.getLife()}}</text>
    </svg>

    <button [disabled]="passDisabled()" md-raised-button color="primary" class="pass-button" (click)="pass()">{{getPassText()}}</button>

    <ccg-resource-display [resource]="player.getPool()"></ccg-resource-display>

    <!--<ccg-player-avatar></ccg-player-avatar>-->
  </div>

  <!-- Player Hand -->
  <div class="area hand">
    <ccg-card scale="1.5" *ngFor="let card of player.getHand()" [@inHand]="isInHand(card)" overlap="true" [card]="card" [game]="game" [selected]="card == selected" 
      [darkened]="!card.isPlayable(game)" (click)="select(card)"></ccg-card>
  </div>
</div>
