<mat-toolbar class="tournament-toolbar" color="primary">
    <span class="fill-remaining-space"></span>

    <span>Fifth Aeon: A.I Tournament</span>

    <span><a routerLink="help">Help</a> </span>
    <span><a routerLink="rules">Rules</a> </span>
    <span><a routerLink="prizes">Prizes</a> </span>
    <span><a routerLink="teams">Team</a> </span>
    <span><a routerLink="/lobby">Main Game</a> </span>


    <span class="fill-remaining-space"></span>
</mat-toolbar>

<router-outlet></router-outlet>
