<mat-card class="create-form">
  <mat-card-header>
      <mat-card-title>Register Account</mat-card-title>
  </mat-card-header>

  <mat-card-content>
      <form #registerForm="ngForm" class="form-container">
          <mat-form-field>
              <input matInput #titleIn name="username"  [(ngModel)]="username" [formControl]="nameControl" maxlength="30" placeholder="Username" required>
              <mat-error *ngIf="nameControl.invalid">{{nameError()}}</mat-error>
          </mat-form-field>

          <mat-form-field>
              <input matInput #emailIn name="email" [(ngModel)]="email"  placeholder="Email" type="text" [formControl]="emailControl" maxlength="30" required>
              <mat-error *ngIf="emailControl.invalid">{{emailError()}}</mat-error>
          </mat-form-field>

          <mat-form-field>
              <input matInput #passIn placeholder="Password" name="password" [(ngModel)]="password" [formControl]="passwordControl"
              [type]="hide ? 'password' : 'text'" required>
                  <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>

              <mat-error *ngIf="passwordControl.invalid">{{passwordError()}}</mat-error>
          </mat-form-field>
      </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" [disabled]="!ok()" (click)="create()">Create Account</button>
  </mat-card-actions>

</mat-card>
