.new-button {
    position: fixed;
    bottom: 40px;
    right: 60px;
}

.list-area {
    overflow: hidden;
    box-sizing: border-box;
    margin: 20px;
    padding: 12px;
    min-height: calc(100vh - 102px);
}

.big-instruction {
    font-size: 2em;
}
