<!--
<md-toolbar color="primary">
  <span>CCG</span>
  <span class="toolbar-spacer"></span>

  <md-icon class="toolbar-icon" mdTooltip="Turn volume on" (click)="toggleMute()" *ngIf="soundManager.isMuted()">volume_mute</md-icon>
  <md-icon class="toolbar-icon" mdTooltip="Turn volume off" (click)="toggleMute()" *ngIf="!soundManager.isMuted()">volume_up</md-icon>

  <md-icon class="toolbar-icon" mdTooltip="Connected" *ngIf="client.isConnected()">cloud</md-icon>
  <md-icon class="toolbar-icon" mdTooltip="Disconnected" *ngIf="!client.isConnected()">cloud_off</md-icon>

</md-toolbar>
-->
<hotkeys-cheatsheet></hotkeys-cheatsheet>
<div class="content">
  <router-outlet></router-outlet>
</div>
