<mat-card>
  <mat-card-title>Mechanics</mat-card-title>
  <mat-card-content>
    <table>
      <tbody>
        <tr *ngFor="let data of card.mechanics; let i = index;">
          <td>
            <mat-form-field>
              <mat-select placeholder="Mechanic ID" [(ngModel)]="data.id">
                <mat-option *ngFor="let constructor of mechanicList.getConstructors(card.cardType)" [value]="constructor.getId()">{{constructor.getId()}}</mat-option>
              </mat-select>
            </mat-form-field>
          </td>
          <td *ngIf="isTriggered(data)">
            <mat-form-field>
              <mat-select placeholder="Trigger ID" [(ngModel)]="data.trigger.id">
                <mat-option *ngFor="let id of getTriggerIds()" [value]="id">{{id}}</mat-option>
              </mat-select>
            </mat-form-field>
          </td>
          <!--
          <td>
            Params...
          </td>
        -->
          <td>
            <button mat-icon-button color="warn" (click)="delete(i)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </mat-card-content>
  <mat-card-actions>
    <button mat-icon-button color="primary" (click)="add()">
      <mat-icon>add</mat-icon>
    </button>
  </mat-card-actions>

</mat-card>
