<article>
    <p>
        To be eligible to win a prize, you must meet the following criteria. You
        must be a member of a registered team, have submitted a bot, and have
        completed all of the presented research surveys. Additionally, if you
        are one of the finalists, you will be asked to write a description of
        the techniques you utilized for your bot.
    </p>
    <p>Only one Amazon gift card will be awarded to each of the winning teams, and allocation of funds will be decided upon by the teams' members.    </p>
    <p>
        There is also a selection of Steam keys available for various games.
        These games will be awarded to contestants based on their team's
        position in the tournament, with pick priority being given to the higher
        placing teams. Unlike the Amazon gift cards, these keys will be awarded
        on an individual basis, with the pick order for each member within a
        given team being randomly selected. After every member of a team has
        selected a game, the remaining pool of keys will be made available to the
        next team.
    </p>
</article>

<article>
    <h1>First Place</h1>
    <ul>
        <li>$100 Amazon gift card</li>
    </ul>
    <h1>Second Place</h1>
    <ul>
        <li>$50 Amazon gift card</li>
    </ul>
    <h1>Third Place</h1>
    <ul>
        <li>$25 Amazon gift card</li>
    </ul>
</article>

<article>
    <h1>Game Key Prizes</h1>
    <p>

    </p>
    <ul>
        <li>Shadow Tactics: Blades of the Shogun</li>
        <li>Dark Souls II: Scholar of the First Sin</li>
        <li>Torment: Tides of Numenera</li>
        <li>Wasteland 2: Director’s Cut - Classic Edition</li>
        <li>Darksiders II: Deathinitive Edition</li>
        <li>Shadowrun: Dragonfall - Director's Cut</li>
        <li>Dead Island Definitive Edition</li>
        <li>The Dwarves</li>
        <li>Resident Evil Revelations</li>
        <li>Sniper Elite</li>
        <li>Oxenfree</li>
        <li>ETHEREAL</li>
        <li>Figment</li>
        <li>Zombie Night Terror</li>
        <li>Crazy Machines 3</li>
        <li>Jalopy</li>
        <li>Dreamfall Chapters</li>
        <li>Shadowrun: Hong Kong - Extended Edition</li>
        <li>Shadowrun Returns</li>
        <li>Goat Simulator</li>
    </ul>
</article>
