<article>
    <p>
        To win a prize you must be a registered member of a team, have submitted
        a bot and have completed all research surveys. If you are one of the
        finalists you will also be asked to write a description of the
        techniques you used in your bot.
    </p>
    <p>
        Only one gift card will be awarded to a winning prize, it is up to each
        team to decide how to split the gift card.
    </p>
</article>

<article>
    <h1>First Place</h1>
    <ul>
        <li>$100 Amazon gift card</li>
    </ul>
    <h1>Second Place</h1>
    <ul>
        <li>$50 Amazon gift card</li>
    </ul>
    <h1>Third Place</h1>
    <ul>
        <li>$25 Amazon gift card</li>
    </ul>
</article>

<article>
    <h1>Game Key Prizes</h1>
    <p>
        We have a limited number of Steam keys for various games. We have game
        in the list. The games will be given out to contestants in order of how
        their team placed. Each of the top twenty players will get a pick in the
        ranking order. Thus, the highest ranked contestant, will be able to pick
        any one they like, the second highest ranked will get to pick from the
        remaining nineteen, while the twentieth person to get a prize will get
        whatever is left.
    </p>
    <ul>
        <li>Shadow Tactics: Blades of the Shogun</li>
        <li>Dark Souls II: Scholar of the First Sin</li>
        <li>Torment: Tides of Numenera</li>
        <li>Wasteland 2: Director’s Cut - Classic Edition</li>
        <li>Darksiders II: Deathinitive Edition</li>
        <li>Shadowrun: Dragonfall - Director's Cut</li>
        <li>Dead Island Definitive Edition</li>
        <li>The Dwarves</li>
        <li>Resident Evil Revelations</li>
        <li>Sniper Elite</li>
        <li>Oxenfree</li>
        <li>ETHEREAL</li>
        <li>Figment</li>
        <li>Zombie Night Terror</li>
        <li>Crazy Machines 3</li>
        <li>Jalopy</li>
        <li>Dreamfall Chapters</li>
        <li>Shadowrun: Hong Kong - Extended Edition</li>
        <li>Shadowrun Returns</li>
        <li>Goat Simulator</li>
    </ul>
</article>
