.editor-container {
  display: flex;
  flex-direction: column;
}

.editor-container>* {
  width: 100%;
}

mat-card {
  box-sizing: border-box;
  margin: 20px;
  float: left;
  overflow: hidden;
  min-width: 300px;
}

#card-preview {
  mat-card-content {
    padding-top: 120px;
  }

  mat-card-actions {
    margin-top: -155px;
  }

}
