.board-area {
  float: left;
  text-align: center;
  overflow: hidden;
  width: 100%;
}

md-progress-spinner {
  margin: 0 auto;
}

.title {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}



.game-board {
  border-collapse: collapse;
  margin: 0 auto;
  width: 300px;
  height: 300px;
}

.game-board tr td {
  border: 1px solid black;
  width: 30px;
  height: 30px;
  text-align: center;
}

.header {
  width: 100%;
  overflow: hidden;
  text-align: center;
}


.basic-cell {
  stroke: black;
  stroke-width: 1;
  stroke-opacity: 1;
  fill: white;
}

.marked {
  fill: yellow;
}

.basicCell.hit {
  fill: red;
}

.basicCell.miss {
  fill: blue;
}

.unknown {
  fill: white;
}

.occupied {
  fill: darkslategray;
}

.occupied.preview {
  fill: red;
}

.occupied.hit {
  fill: darkred;
}
