.board-area {
  float: left;
  text-align: center;
  overflow: hidden;
  width: 100%;
}

md-progress-spinner {
  margin: 0 auto;
}

.title {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.bold-button {
  background-color: ghostwhite;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  border: 1px solid black;
  font-size: 1.5em;
  padding: 20px;
}

.game-board {
  border-collapse: collapse;
  margin: 0 auto;
}

.game-board tr td {
  border: 1px solid black;
  width: 30px;
  height: 30px;
  text-align: center;
}

.header {
  width: 100%;
  overflow: hidden;
  text-align: center;
}

.instructions {
  font-size: 2em;
}

.hit {
  background-color: red;
}

.miss {
  background-color: blue;
}

.unknown {
  background-color: white;
}

.occupied {
  background-color: darkslategray;
}

.preview {
  background-color: slategray;
}

.occupied.preview {
  background-color: red;
}

.occupied.hit {
  background-color: darkred;
}
