<div class="header">
  <span class="instructions">{{client.getInstuciton()}}</span>
</div>
<div *ngIf="!inQueue()">
  <div class="board-area" [hidden]="this.nextShip < 5">
    <h2>Intel</h2>
    <table class="game-board">
      <tr *ngFor="let row of client.game.beliefs[client.playerNumber]; let r = index; ">
        <td *ngFor="let cell of row; let c = index;" (click)="fire(r, c)" [ngClass]="intelStyle(cell, r, c)"></td>
      </tr>
    </table>
    <p [hidden]="!client.game.hasStarted()"> Unsunk Ships:
      <span >{{shipList(client.game.unsunkShips[client.opponentNumber])}} </span>
    </p>

  </div>

  <div class="board-area">
    <h2>Forces</h2>
    <table class="game-board">
      <tr *ngFor="let row of client.game.reality[client.playerNumber]; let r = index; ">
        <td *ngFor="let cell of row; let c = index;" (mouseover)="hoverPreview(r, c)" (click)="place(r, c)" [ngClass]="forces(cell, r, c, client.game.beliefs[client.opponentNumber][r][c])"></td>
      </tr>
    </table>
    <p [hidden]="!client.game.hasStarted()"> Unsunk Ships:
      <span >{{shipList(client.game.unsunkShips[client.playerNumber])}} </span>
    </p>

    <button (click)="toggleDir()" [hidden]="this.nextShip > 4">Change Direction</button>
  </div>
</div>
