@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~https://fonts.googleapis.com/icon?family=Material+Icons';

/* You can add global styles to this file, and also import other style files */
body {
    margin: 0px;
}

.instructions {
  font-size: 2em;
}

md-progress-spinner {
  margin: 0 auto;
}

.multiline {
  white-space: pre-line !important;
}


.number-text {
  font-family: "Impact";
  fill: white;
  stroke: black;
  stroke-width: 0.75;
  font-size: 25px;
}