@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~https://fonts.googleapis.com/icon?family=Material+Icons';

/* You can add global styles to this file, and also import other style files */

body {
  margin: 0px;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.instructions {
  font-size: 2em;
}

mat-progress-spinner {
  margin: 0 auto;
}

.multiline {
  white-space: pre-line !important;
}

.number-text {
  font-family: "Impact", monospace;
  fill: white;
  stroke: black;
  stroke-width: 0.75;
  font-size: 25px;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

div.mat-card-header-text {
  margin: 0 auto;
}
