<svg class="avatar">
  <defs>
    <pattern id="icon" patternUnits="userSpaceOnUse" height="70" width="70">
      <image x="0" y="0" height="70" width="70" xlink:href="assets/png/hood.png"></image>
    </pattern>
  </defs>
  <circle r="35" cy="40" cx="40" fill="url(#icon)" stroke="black" stroke-width="1" />

  <!--
  <rect x="15" y="60" width="50" height="30" fill="firebrick" stroke="black" stroke-width="1" />
  <text class="buble-text" width="25" height="30" text-anchor="middle" y="85" x="40">25</text>
    -->
</svg>
