<svg
    class="resource-selector"
    matTooltipPosition="above"
    [matTooltip]="disableTip()"
    [class.darkened]="!canPlayResource"
>
    <image
        matTooltipPosition="above"
        [matTooltip]="tip('Play Growth.')"
        (click)="playResource('Growth')"
        href="assets/png/growth.png"
        height="50"
        width="50"
        x="0"
        y="0"
        style="cursor: pointer; pointer-events: all;"
    />
    <image
        matTooltipPosition="above"
        [matTooltip]="tip('Play Synthesis.')"
        (click)="playResource('Synthesis')"
        href="assets/png/synthesis.png"
        height="50"
        width="50"
        x="60"
        y="0"
        style="cursor: pointer; pointer-events: all;"
    />
    <image
        matTooltipPosition="above"
        [matTooltip]="tip('Play Decay.')"
        (click)="playResource('Decay')"
        href="assets/png/decay-icon.png"
        height="50"
        width="50"
        x="120"
        y="0"
        style="cursor: pointer; pointer-events: all;"
    />
    <image
        matTooltipPosition="above"
        [matTooltip]="tip('Play Renewal.')"
        (click)="playResource('Renewal')"
        href="assets/png/renewal.png"
        height="50"
        width="50"
        x="180"
        y="0"
        style="cursor: pointer; pointer-events: all;"
    />
</svg>
